<div class="artist">
  <h1 class="artist__name">{{artist.name}}</h1>
  <section class="artist__info">
    <image class="artist__image"
           src="{{artist.image.[3].[#text]}}"></image>
    <p class="artist__text">{{{artist.bio.content}}}</p>
    <p class="artist__addition"><b>Published:</b> {{artist.bio.published}}</p>
    <p class="artist__addition"><b>Played:</b> {{artist.stats.playcount}}</p>
    <p class="artist__addition"><b>Listerners:</b> {{artist.stats.listeners}}</p>
  </section>
  <h2>Similar artists:</h2>
  {{> ../topArtists }}
  {{> ../topTags}}
</div>